@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --animate-pulse-slow: pulse-slow 3s ease-in-out infinite;
}

@keyframes pulse-slow {
  0%, 100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
}